body{
  font-family: helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h4, a{
  font-size: 18px;
  color: white;
}

#home{
  background-image: url("../images/flatiron.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

.break{
  color: white;
  background-image: url("../images/flatiron.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#footer{
  text-align: left;
  background-color: dimgray;
  color: white;
}

.copyright{
  font-size: 11px;
}
